
*{
	padding: 0;
	margin: 0;
	font-family: 'josefin sans',sans-serif;
}
body{
	background: url(17.jpg);
	background: cover;
}
.service{

	background: #101010;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
      color:  black;
      font-size: 75px;
      width: 1130px;
      margin: 30px auto;
      text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;


}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: transparent;
	border-radius: 20px;
	margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;

}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;
}

h5{
	color: black;
	font-size: 23px;
	margin-bottom: 15px;
	align-items: center;

}
.pra{
	color: black;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;

}
.jmv{
	width: 50%;
	border-radius: 30px;
}
